@use "tailwindcss" as *;
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 20px 40px;
  background-color: rgb(250, 229, 229);
  font-family: 'Open sans Condensed',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
}

*{
  box-sizing: border-box;
}